* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Button Style */
.btn {
  padding: 10px;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

