* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Button Style */
.btn {
  padding: 10px;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

/* Login box */
.login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  justify-content: center;
  text-align: center;
}

.login > input {
  font-size: 15px;
  border-radius: 10px;
  padding: 7px;
}