* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Button Style */
.btn {
  padding: 10px;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(63, 9, 113);
}

/* Login box */
.login {
  margin: auto;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  justify-content: center;
  text-align: center;
}

.login > input {
  font-size: 15px;
  border-radius: 10px;
  padding: 7px;
}

/* Pages */

/* common */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container >div {
  width: 90%;
}

/* Survey/Questions Page */

.survey_nmae {
  height: fit-content;
  padding: 10px;
  color: white;
  background-color: purple;
  border-radius: 30px;
  text-align: center;
}

.question {
  border-radius: 30px;
  min-height: 100px;
  height: fit-content;
  background-color: rgb(207, 199, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.question > div {
  width: 90%;
}

.q_text {
  font-size: 16px;
  font-weight: bold;
}

.q_field {
  display: flex;
  align-items: center;
  gap: 20px;
}

.q_field > input {
  font-size: 15px;
  border-radius: 10px;
  padding: 7px;
  width: 100%;
  border: 2px solid purple;
}

.q_field select {
  font-size: 15px;
  border-radius: 10px;
  padding: 7px;
  border: 2px solid purple;
  width: fit-content;
}

option {
  font-size: 15px;
  border-radius: 10px;
  padding: 7px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 30px;
}

/* Surveys Page */

.surveys-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 30px;
  width: 100%;
}

.survey {
  border-radius: 30px;
  min-height: 100px;
  height: fit-content;
  background-color: rgb(207, 199, 214);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px;
  width: 100%;
}

input[type=text] {

  font-size: 15px;
  border-radius: 10px;
  padding: 7px;
  width: 30%;
  border: 2px solid purple;
}

